*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*-- menu principal ------------------*/

.menu{
    width: 100%;
    position: fixed;
    padding-right:10px ;
    background-color: rgba(2, 3, 44, 0.719);
    padding-bottom:8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 240, 86);
}
.LOGO {
    display: flex; 
    align-items: center;
    padding: 3%;  
}
.LOGO img{
    border: 1px solid white;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: aqua;
}
.LOGO h1{
    color: white;
    font-family: cambria;
    
}
#COMPRA{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-family: monospace;
    background-color: brown;
    border: none;
    border-radius: 10px;
    box-shadow: 3px  3px 37px rgba(32, 22, 168, 0.5);
    margin-left: 500px;
    background-color: blue;
}
button:hover{
    background-color:blueviolet;
    cursor: pointer;
    color:blanchedalmond;
    ;
   
}
.link{
    padding: 10px;
    text-decoration: none;
    color_:blueviolet;
    font-weight: 500;
    font-family: arial;
    margin-right: 10px;
}
.link:hover{
    background-color: rgba(240, 255, 255, 0.466);
    border-radius: 5px;
    cursor: pointer;
font-family: cambria;
    
}
    
#REDES{
    height: 500px;
    background-image: url(/imagenes/rede.png);
    background-size: cover;
    background-position: center;
    background-color: aquamarine;
}
#REDES h1{
    padding-top:100px ;
    margin-left: 200px;
    color: white;
    font-family: monospace;
    font-size: 50px;
    
}
#REDES p {
    margin-left: 200px;
    color: white;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 20px;
}

#REDES a:hover{
    color:blue;
    background-color: rgb(85, 84, 84);
}

.contenedor {
    background-color:blanchedalmond;
    width: 100%;
    overflow: hidden;
    padding: 60px;
    font-family: algerian;
    
}
.ofrecemos{
    text-align: center;
    font-weight: bold;
    color: brown;
    margin-bottom: 40px;
    font-size: 50px;
    padding: 0;
    font-family: algerian;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cont-expert img{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
.cont-expert{
    margin-bottom: 20px;
    align-items: center;
   
}
.letras{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    color: rgb(7, 7, 44);
    font-family: cambria;
}
/*mas info+*/
#catalogo{
    font-family: Arial;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 40px;
    padding: 0;
}
#catalogo-1{
    color: rgb(102, 12, 12);
    margin-right: 10px;
    font-family: algerian;
}
/*cartas*/
.contenedor3{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 60px;
    background-color: beige;
}

.PROGRAMAS{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
.diseño{
    padding: 5px;
    align-items: center;
    margin-bottom: 2%;
    margin-right: 5%;
    border: 1px solid gray;
    width:20%;
}
.mas-info{
    border: 1px solid green;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    color: rgb(95, 95, 225);
    font-family: arial;
}
.parrafo{
    margin-top: 5px;
    padding: 5px;
    
}

/*final*/
.footer{
    margin: 0;
    background-color:rgb(6, 6, 56);
    padding: 50px ;
    background-color:bisque;
}
.contenedor-final{
    max-width: 1170px;
    
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.PAGINA{
    margin-top: 50px;
    margin-right: 50px ;
    width: 25%;
    padding: 0 15px;
    font-family: arial;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    text-transform: capitalize;
    position: relative;
}
.columnas{
    width: 25%;
    padding: 0 15px;
}
.columnas h4{
    font-family: arial;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    text-transform: capitalize;
    position: relative;
}
.columnas ul li a {
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(73, 72, 72);
    text-decoration: none;
    display: block;
    font-weight: 300;
}
#copi{
    color: wheat;
    display: flex;
    justify-content: flex-end;
}
.columnas p{
    font-size: 16px;
    margin-bottom: 15px;
    color: darkslategray;
    
}
.yo:hover{

  text-decoration: underline;
    color:red;
}

#FORMULARIO{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-family: monospace;
    background-color: brown;
    border: none;
    border-radius: 10px;
}
#FORMULARIO:hover{
    color: rgb(97, 15, 15);
    background-color: white;
    cursor: pointer;
}
